---
title: "Farmers call for independent FMD test result verification"
date: 2026-09-16T21:16:04.000Z
author: Daily Maverick
category: Business
image: 
summary: "Farmers call for independent FMD test result verification"
featured: false
headline_position: 0
source_url: "https://news.google.com/rss/articles/CBMirgFBVV95cUxPWVhld3R4TDgtVXlJZ28zTlNTVzNsR2FOcVNId0lWd0VoeDR5WE1mVlZyZFUwTVBGQzlidmRSZkV6LXpuT2EwdldSS1hFMnJ5RXJqaG1SeWFoRERmTkYzdXpabmQxOHozVGRSMV9iT09ZWWFpNjMzbTBaOFBlNVhLb1A3WndTLTNQM3hpNmRDMmFTemd3SVJsOTdjSGZ2YXBGM09UMGJaS1NUbkpYNFE?oc=5"
source_type: wire
spotlight: false
---

*Originally published by Daily Maverick.*
[Read original article](https://news.google.com/rss/articles/CBMirgFBVV95cUxPWVhld3R4TDgtVXlJZ28zTlNTVzNsR2FOcVNId0lWd0VoeDR5WE1mVlZyZFUwTVBGQzlidmRSZkV6LXpuT2EwdldSS1hFMnJ5RXJqaG1SeWFoRERmTkYzdXpabmQxOHozVGRSMV9iT09ZWWFpNjMzbTBaOFBlNVhLb1A3WndTLTNQM3hpNmRDMmFTemd3SVJsOTdjSGZ2YXBGM09UMGJaS1NUbkpYNFE?oc=5)
